
@import '~shared';

$o-sidebar-width: 250px;

.o-sidebar {
    @include shadow;
    @include transition(transform);
    position: fixed;
    top: 0;
    bottom: 0;
    right: - $o-sidebar-width;
    width: $o-sidebar-width;
    margin: auto;
    padding-top: 54px;
    background-color: $color-white;
    z-index: $zi-sidebar;

    &__link {
        display: block;
        padding: 16px;
        border-bottom: 1px solid $color-gray;

        &:hover {
            background-color: $color-bg;
            text-decoration: none;
        }
    }

    &.u-is-shown {
        transform: translateX(- $o-sidebar-width);
    }
}
