{% extends 'base' | C %}

{% set root = 'o-content' %}

{% block body %}
    <main class="{{ block('class') }} js-content" {{ block('attr') }}>
        <div class="js-content__html"></div>
    </main>
{% endblock %}
