{% extends 'base' | C %}

{% set root = 'o-content' %}

{% block body %}
    <div class="{{ block('class') }} g-col g-col--expand js-content" {{ block('attr') }}>
        <div class="o-content__html js-content__html"></div>
    </div>
{% endblock %}
