
$fa-font-path: '/assets/react/fonts';
$fa-font-size-base: map-get($font-size, default);
$fa-line-height-base: map-get($font-line-height, default);
$fa-border-color: $color-black;
$fa-inverse: $color-white;
