
$zi-base-header: 500;
$zi-base-frame: 400;
$zi-base-off: 300;

$zi-base-widgets: 1;
$zi-base-main: 2;
$zi-base-footer: 20;
$zi-base-scroll-top: 30;
$zi-base-overlay: 40;

$zi-element: 10;
$zi-flying-element: 450;
