
@import '~shared';

.o-header {
    @include shadow;
    padding: 8px 0;
    background-color: $color-main;
    color: $color-white;
    z-index: $zi-header;

    &__hamburger {
        @include font-size(3);
        float: right;
        color: $color-white;
    }
}
